@model IEnumerable<Chatter.Models.Chat>

@{
    ViewBag.Title = "Index";
}


<!-- <p>
    @Html.ActionLink("Create New", "Create")
</p>  -->

<div>
    What do you want to chatter about?<br>
    <input type="text" id="userInput" name="userInput" /> <!--input box-->
    <br><br>
    <input type="button" id="postChats" value="Post!"/> <!--post new message btn-->
    <br>
</div>

<button id="getChats" class="btn btn-primary">Get Chats</button> <!--when clicked, display all chats from SQL-->

<div id="response"></div> <!--place to dsplay all chats-->



@section Scripts {
    <script>


        //AJAX request using jQuery as a helper.. RAZOR is needed to have the compiler find the path of the controller with jquery
        //make sure it won't run until page is loaded, wrap in document.ready function

        $(document).ready(function () {

           
            //create a button to post a new chat to the server
            $("#postChats").click(
               function () {
                   var addPost= $("#postChats").val();//save user input

                   //put into sql:
                   $.post("@Url.Action("PostChats","Chats")", {"Message" : addPost});
                   PostChats;
                       

               });







                   //Based off of Mel's code.. creates a <p> and appends new chats to the div #response:
            $("#getChats").click(PostChats);
                
                
                
                function PostChats() {
                           $.get("@Url.Action("TestJson","Chats")", function (serverResponse) {
                               var jsonTest = JSON.parse(serverResponse);
                               //console.log(jsonTest);

                               var ul = $("<p>", { id: "messageList", "class": "posts" });
                               $("#response").append(ul);

                               $.each(jsonTest, function (inx, val) {
                                   // var myBgClass = ["bg-info","bg-warning"];
                                   var li = $("<p>", { id: "li" + inx });
                                   li.text(val.Message);
                                   li.click(function () { alert("my index is " + inx); });
                                   ul.append(li); //similar to $("#messageList").append(li), but more
                                   //efficient b/c it doesn't need to query for the list
                                   //again.

                               });
                           })
                       }
                  

               });
    
        
    </script>
    }